body{
  background-color: #CCE5FF;
}
.navbar-custom {
    background: #2C3E50;
    color: white;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}
#mainNav a{
  color: white;
}
#mainNav .active{
  color: lightgray;
}
.mycarousel
{
  width: 40%;
  margin-top: 5%;
  float: left;
  margin-left: 9%;
}
.aboutp
{
  background-color: #CCE5FF;
  margin-top: 5%;
  width: 40%;
  float: right;
  margin-right: 9%;
  font-size: 2.2rem;
}
.btn-group btn-group-justified
{
  width: 100%;
  clear: both;
}
.pl
{
  clear: both;
  margin-top: 30%;
  text-align: center;
  background-color: #2C3E50;
  color: white;
  border-radius: 10px;

}
.Buttons
{
  text-align: center;
}
.btn-group
{
  margin-left:5%;
  margin-right: 5%;
}
