header
{
  position: fixed;
  width: 100%;
  height:40px;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid lightgray;
}
.body
{
  text-align: center;
}
.firstlink
{
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  margin-left: 24.5%;
  line-height: 50px;
}
.normallink{
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  margin-left: 15%;
}
.lastlink
{
  margin-right:10%
}
