header
{
  position: fixed;
  width: 100%;
  height:40px;
  top: 0;
  left: 0;
  background: #f2f1ed;
  border: 1px solid lightgray;
}
body
{
  font-family: 'Indie Flower', cursive;
  font-size: 1.1rem;
}
.firstlink
{
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  margin-left: 24.5%;
  line-height: 50px;
}
.show
{
  text-decoration: underline;
}
.normallink{
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  margin-left: 15%;
}
.lastlink
{
  margin-right:10%
}
#openingflor1
{
  background-color: white;
  padding-top: 5%;
}
.openingflor1
{
  background-color: #f0d4cd;
  height: 85vh;
  width: 78%;
  text-align: center;
  /*margin-top: 5%;*/
  margin-left: 11%;
  margin-right: 9%;
}
.logotip1
{
  margin-top: 6%;
  width: 7%;
}
.openingflorp
{
  margin: 0;
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
.seexample
{
  text-decoration: none;
  color: black;
  margin-top: 4%;
  border: 1px solid black;
  background-color:#ebebe8;
  padding: 1.5%;
  border-radius: 5px;
}
.seeexample:hover{
  color: black;
}
.bigimages
{
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  text-align: center;
}
.mainimage
{
  width: 49%;
}
.arrow
{
  width:10%;
  margin-top: 85%;
  float:right;
}
.arrowimg
{
  margin-top: 85%;
  width: 100%;
}
.arrowback
{
  width:10%;
  margin-top: 75%;
  float:left;
}
.arrowbracel
{
  width:10%;
  margin-top: 75%;
  float:right;
}
footer
{
  margin-top: 0.3%;
  width: 100%;
  height:50px;
  background: #f2f1ed;
  border: 1px solid lightgray;
}
.footer li
{
  background: #f2f1ed;
  display:inline;
  /*margin-left: 6.5%;*/
  margin-left: 8%;
}
.backtotop
{
  width: 20%;
  top:10px;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  border: 1px solid lightgray;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 5%;
  padding-right: 5%;
}
#top
{
   width: 15%;
    margin-left: 0%;
}
.dropdown .links
{
  list-style-type: none;
  margin: 0;
  display: none;
}
.dropdown ul li a{
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  margin-right: 7%;
  list-style-type: none;
}
.showmenu{
  font-size: 1.3rem;
  color: black;
  text-decoration: underline;
  list-style-type: none;
  padding-top: 5%;
  display: none;
}
.links ul{
  margin: -1%;
}
.links ul li
{
  list-style-type: none;
}
.footerimg
{
  width:3%;
  margin-left:6%;
  margin-top: 2.3%;
  display: none;
}
.footerimgp
{
  width:8%;
  margin-top: 5%;
  display: none;
}
.toparrow
{
  width:3%;
  margin-left: 36%;
  display: none;
}
footer .phonenumber
{
  float: right;
  margin-right: 30%;
  display: none;
}
.showphone
{
  width:39%;
  margin-left:6%;
  float: left;
  padding: 0;
  /*padding-right: 10%;*/
}
.phonenumber p
{
  font-size: 0.8rem;
}

@media(max-width:800px)
{
  .showmenu
  {
    display: inline;
    line-height: 50px;
  }
  .openingflor1
  {
    padding-top: 10%;
  }
  .normallink,  .lastlink, .firstlink
  {
    display: none;
  }
  header
  {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .firstlink
  {
    padding: 0;
    margin: 0;
  }
  .dropdown:hover .links{
      display: inline
  }
  .links ul li a:hover
  {
    color:gray;
  }
  .logotip1
  {
    margin-top: 12%;
  }
  .arrowbracel,.arrowback
  {
    display: none;
  }

}
@media (max-width:920px)
{
  .footer
  {
    display:none;
  }
  .footerimg
  {
    display: inline;
  }
  .footerimgp
  {
    display: inline;
  }
  .toparrow
  {
    display: inline;
    float: right;
    margin-top: 2.3%;
  }
  .showphone:hover .phonenumber
  {
    display: inline;
  }


}
